@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

:root {
  --quizcraft-light-purple: #c7c7fc;
  --quizcraft-dark-purple: #8e8cfc;
  --quizcraft-deep-purple: #6464fc;
  --quizcraft-darker-purple: #3a3ac7;

  --blue-grade1: #CFF3F4;
  --blue-grade2: #A2E5EB;
  --blue-grade3: #75D7E2;
  --blue-grade4: #1EA8B9;
  --blue-grade5: #188496;
  --blue-grade6: #126173;
  
  --quizcraft-bg-light: #fff;
  --quizcraft-bg-dark: black;
  --quizcraft-orange: #f7941e;
  --quizcraft-light-blue: #24bed0;

  --black: #000;
}


.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 30s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg {
  background-color: var(--blue-grade1);
}

.button {
  font-family: "Lexend Deca", sans-serif;
  font-size: medium;
  color: var(--quizcraft-light);
  background: none;
  border: none;
}

.login-button {
  width: 140px;
  height: 36px;
  border-radius: 8px;
  border-style: none;
  background-color: var(--quizcraft-orange);
  margin: 1vh 0.5vw 1vh 0.5vw;
}
.login-button:hover {
  color: var(--quizcraft-bg-dark);
  background-color: var(--quizcraft-orange);
}
.login-button:active {
  color: var(--quizcraft-light);
  border: 2px solid var(--quizcraft-light);
  background-color: var(--quizcraft-bg-dark);
}

.register-button {
  width: 140px;
  height: 36px;
  border-radius: 8px;
  border-style: none;
  background-color: var(--quizcraft-light-blue);
}

.register-button:hover {
  background-color: var(--quizcraft-dark-purple);
}
.register-button:active {
  border: 2px solid var(--quizcraft-deep-purple);
  background-color: var(--quizcraft-bg-dark);
}

.dashboard-button-landing{
  color: #000;
  transition: all 0.5s ease;
}

.dashboard-button-landing:hover{
  background-color: rgb(7, 208, 7);
}

.jumbo {
  font-family: "Lexend Deca", sans-serif;
  font-size: 3em;
  text-align: center;
  margin-top: 2vh;
  color: var(--quizcraft-light);
}

.jumbo-subtitle {
  text-align: center;
  color: #000;
  font-size: larger;
}

.demo-button {
  width: 200px;
  height: 48px;
  border-radius: 8px;
  border-style: none;
  background-color: var(--quizcraft-deep-purple);
}

.demo-button:hover {
  border: 2px solid var(--quizcraft-deep-purple);
  background: none;
}

.demo-button:active {
  border: 2px solid var(--quizcraft-deep-purple);
  background-color: var(--quizcraft-light);
  color: var(--quizcraft-bg-dark);
}

.back-to-home {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: var(--quizcraft-light-purple);
  text-decoration-line: underline;
}

.auth-title {
  font-family: "Lexend Deca", sans-serif;
  font-size: 2em;
  color: var(--quizcraft-light);
}

.input-label {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: var(--quizcraft-light);
}

.input-field {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: var(--quizcraft-bg-dark);
  /* background-color: var(--quizcraft-light-purple); */
  border: none;
}

.input-field::placeholder {
  font-weight: normal;
  color: cadetblue;
}

.submit-button {
  width: 140px;
  height: 42px;
  border-radius: 8px;
  border-style: none;
  background-color: var(--quizcraft-deep-purple);
}

.logout-button {
  width: 140px;
  height: 36px;
  border-radius: 8px;
  border-style: none;
  color: var(--quizcraft-bg-dark);
  background-color: var(--quizcraft-light-blue);
  margin: 1vh 0.5vw 1vh 0.5vw;
  transition: all 0.5s ease;
}

.logout-button:hover {
  color: var(--black);
  background-color: crimson;
}

.logout-button:active {
  color: var(--quizcraft-light);
  border: 2px solid crimson;
  background-color: var(--quizcraft-bg-dark);
}

.section {
  background-color: var(--quizcraft-light);
  border-radius: 4px;
  padding: 26px;
  box-shadow: 6px 6px var(--blue-grade5);
}

.profile-name {
  color: var(--quizcraft-bg-dark);
  font-family: "Lexend Deca", sans-serif;
  font-size: 22px;
  font-weight: bold;
}

.profile-email {
  color: lightslategray;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.count-title {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: var(--quizcraft-deep-purple);
  margin-top: 10px;
}

.count-number {
  font-family: "Lexend Deca", sans-serif;
  font-size: 24px;
}

.tool-button {
  font-family: "Lexend Deca", sans-serif;
  font-size: 18px;
  color: var(--black);
  border-radius: 4px;
  border-style: none;
  background-color: var(--quizcraft-orange);
  width: max-content;
  height: max-content;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 6px;
  padding: 16px 24px 16px 24px;
}

.tool-button:hover {
  background-color: rgb(1, 186, 1);
  -webkit-transition: background-color 500ms ease-out;
  -ms-transition: background-color 500ms ease-out;
  transition: background-color 500ms ease-out;
}

.tool-button:active {
  background-color: var(--quizcraft-bg-dark);
}

.grayed {
  filter: grayscale(100%);
  background-color: dimgray;
}

/* bootstrap element  */
.card {
  background: none;
  border: none;
}

/* wowowoowow */
.tooltip-wrapper {
  display: inline-block;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.tooltip-wrapper .tool-tip {
  background-color: var(--quizcraft-light);
  padding: 16px;
  width: 240px;
  z-index: 1;
  border-radius: 0.5rem;
  box-shadow: 0px 10px 20px;
  position: absolute;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}

.tooltip-wrapper:hover .tool-tip {
  visibility: visible;
  opacity: 1;
  transition: opacity 600ms ease-out;
}

.input-quiz-title {
  background: none;
  border: none;
  width: 90%;
  margin-right: 10px;
}

.input-quiz-title:hover {
  border-bottom: 2px solid var(--quizcraft-bg-dark);
}

.input-quiz-title:active,
.input-quiz-title:focus {
  border-bottom: 2px solid var(--quizcraft-deep-purple);
}

.input-quiz-desc {
  background: none;
  border: none;
  width: 70%;
}

.input-quiz-desc:hover {
  border-bottom: 2px solid var(--quizcraft-bg-dark);
}

.input-quiz-desc:active,
.input-quiz-desc:focus {
  border-bottom: 2px solid var(--quizcraft-deep-purple);
}

input:focus,
select:focus,
button:focus {
  outline: none;
}

.input-question-title {
  background: none;
  border: none;
  width: 100%;
  margin-right: 10px;
}

.input-question-title:hover {
  border-bottom: 2px solid var(--quizcraft-bg-dark);
}

.input-question-title:active,
.input-question-title:focus {
  border-bottom: 2px solid var(--quizcraft-deep-purple);
}

.option-name {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.option-dropdown {
  font-family: "Lexend Deca", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: var(--quizcraft-darker-purple);
  background: none;
  border: none;
  width: 10em;
}

.option-section {
  margin: 2px;
}

.option-label {
  font-family: "Lexend Deca", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: var(--quizcraft-darker-purple);
  background: none;
  border: none;
  margin-top: 8px;
}
.option-input {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background: none;
  letter-spacing: 0.03em;
  border: none;
  border-bottom: 2px solid var(--quizcraft-light-purple);
  width: calc(44vw);
  margin-left: 1em;
  margin-right: 1em;
  padding-top: 0.5em;
}

.option-input:hover,
.option-input:active,
.option-input:focus {
  border-bottom: 2px solid var(--quizcraft-dark-purple);
}

.remove-button {
  width: max-content;
  height: max-content;
  background-color: var(--quizcraft-deep-purple);
  border: none;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  color: var(--quizcraft-light);
  border-radius: 6px;
  margin-top: 10px;
  margin-left: 20px;
}
.remove-button:hover {
  background-color: crimson;
}
.remove-button:active {
  background-color: darkred;
}

.add-button {
  width: max-content;
  height: max-content;
  background-color: var(--quizcraft-deep-purple);
  border: none;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  color: var(--quizcraft-light);
  border-radius: 6px;
  margin-top: 10px;
  margin-left: 20px;
}

.add-button:hover {
  background-color: var(--quizcraft-darker-purple);
}
.add-button:active {
  background-color: var(--quizcraft-bg-dark);
}

.remove-option-button {
  width: max-content;
  height: max-content;
  background: none;
  border: none;
  margin-top: 0.8em;
}

.remove-option-button:hover {
  transform: scale(1.2);
}
.remove-option-button:active {
  transform: scale(1);
  filter: invert();
}

.select-answer-dropdown {
  width: 8em;
  height: max-content;
  background-color: var(--quizcraft-deep-purple);
  border: none;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  color: var(--quizcraft-light);
  border-radius: 6px;
  margin-top: 10px;
  margin-left: 20px;
}

.curated-quiz-section {
  width: 80.8vw;
  height: fit-content;
}

table {
  counter-reset: tableCount;
}

.counterCell:before {
  content: counter(tableCount);
  counter-increment: tableCount;
}

.quiz-code-input {
  font-family: "Lexend Deca", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: var(--quizcraft-light);
  border-radius: 4px;
  border-style: none;
  background-color: #443e47;
  width: 50%;
  height: max-content;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 6px;
  padding: 16px 24px 16px 24px;
}

.wide-column {
  width: 200px; 
}


#dashboard-container-fluid{
  background-color: var(--blue-grade2);
  width: 86vw;
  height: fit-content;
  margin-top: 40px;
  border-radius: 8px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 12vh;
}

.dashboard-container-fluid1{
  display: flex;
  flex-direction: row;
  column-gap: 10vw;
}

.dashboard-container-fluid2{
  display: flex;
  flex-direction: row;
  width: 90vw;
  height: fit-content;
}

.dashboard-profile{
  width: 40vw;
}

.dashboard-quizzer-tools{
  width: 30vw;
}
