@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

:root {
  --quizcraft-light-purple: #c7c7fc;
  --quizcraft-dark-purple: #8e8cfc;
  --quizcraft-deep-purple: #6464fc;
  --quizcraft-darker-purple: #3a3ac7;

  --blue-grade1: #CFF3F4;
  --blue-grade2: #A2E5EB;
  --blue-grade3: #75D7E2;
  --blue-grade4: #1EA8B9;
  --blue-grade5: #188496;
  --blue-grade6: #126173;
  
  --quizcraft-bg-light: #fff;
  --quizcraft-bg-dark: black;
  --quizcraft-orange: #f7941e;
  --quizcraft-light-blue: #24bed0;
  --quizcraft-light-green: rgb(56, 212, 56);
  --quizcraft-light-red: rgb(218, 77, 105);

  --container-backgrounds: #7cd6de;
  --placeholder: rgb(91, 116, 117);
  --black: #000;
}


.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 30s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg {
  background-color: var(--blue-grade1);
}

.button {
  font-family: "Lexend Deca", sans-serif;
  font-size: medium;
  color: var(--black);
  background: none;
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.button:hover{
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.login-button {
  width: 140px;
  height: 36px;
  border-radius: 8px;
  border-style: none;
  background-color: var(--quizcraft-orange);
  margin: 1vh 0.5vw 1vh 0.5vw;
  transition: all 0.3s ease;
}
.login-button:hover {
  color: var(--quizcraft-bg-dark);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
.login-button:active {
  color: var(--quizcraft-light);
  border: 2px solid var(--quizcraft-light);
  background-color: var(--quizcraft-bg-dark);
}

.register-button {
  width: 140px;
  height: 36px;
  border-radius: 8px;
  border-style: none;
  background-color: var(--quizcraft-light-blue);
  transition: all 0.3s ease;

}

.dashboard-button-landing{
  color: #000;
  transition: all 0.3s ease;
}

.dashboard-button-landing:hover{
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.dashboard-button-login{
  color: #000;
  transition: all 0.3s ease;
}

.dashboard-button-login:hover{
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.dashboard-button-register{
  width: 140px;
  height: 36px;
  border-radius: 8px;
  border-style: none;
  color: var(--quizcraft-bg-dark);
  background-color: var(--quizcraft-light-blue);
  margin: 1vh 0.5vw 1vh 0.5vw;
  transition: all 0.3s ease;
}

.dashboard-button-register:hover {
  color: var(--black);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.login-button-login{
  color: var(--black);
  margin-top: 4vh;
  margin-right: 4vh;
  width: 17vw;
  background-color: var(--quizcraft-orange);
  border-radius: 8px;
  transition: all 0.3s ease;
}

.login-button-login:hover{
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.jumbo {
  font-family: "Lexend Deca", sans-serif;
  font-size: 3em;
  text-align: center;
  margin-top: 2vh;
  color: var(--quizcraft-light);
}

.jumbo-subtitle {
  text-align: center;
  color: #000;
  font-size: larger;
}

#attend-quiz-button{
  background-color: var(--quizcraft-light-blue);
}

.back-to-home {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: var(--black);
}

.auth-title {
  font-family: "Lexend Deca", sans-serif;
  font-size: 2em;
  color: var(--quizcraft-light);
}

.input-label {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: var(--quizcraft-light);
  margin-bottom: 2px;
}

.input-field {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: var(--quizcraft-bg-dark);
  border: none;
}

.input-field::placeholder {
  font-weight: normal;
  color: var(--placeholder);
}

.submit-button {
  width: 140px;
  height: 42px;
  border-radius: 8px;
  border-style: none;
  background-color: var(--quizcraft-deep-purple);
}

.logout-button {
  width: 140px;
  height: 36px;
  border-radius: 8px;
  border-style: none;
  color: var(--quizcraft-bg-dark);
  background-color: var(--quizcraft-light-blue);
  margin: 1vh 0.5vw 1vh 0.5vw;
  transition: all 0.3s ease;
}

.logout-button:hover {
  color: var(--black);
  background-color: var(--quizcraft-light-red);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.logout-button:active {
  color: var(--quizcraft-light);
  border: 2px solid var(--quizcraft-light-red);
  background-color: var(--quizcraft-bg-dark);
}

.new-user-register-here{
  background-color: var(--quizcraft-light-blue);
  width: 17vw;
  height: 4.6vh;
  margin-top: 4vh;
  border-radius: 8px;
  font-family: "Lexend Deca", sans-serif;
  font-size: medium;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: all 0.3s ease;

}

.new-user-register-here:hover{
  text-decoration:none;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.section {
  background-color: var(--quizcraft-light);
  border-radius: 4px;
  padding: 26px;
  box-shadow: 6px 6px var(--blue-grade5);
}

.profile-name {
  color: var(--quizcraft-bg-dark);
  font-family: "Lexend Deca", sans-serif;
  font-size: 22px;
  font-weight: bold;
}

.profile-name::placeholder{
  color: var(--placeholder);
  border: 1px black;
}

.profile-email {
  color: lightslategray;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.count-title {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: var(--quizcraft-deep-purple);
  margin-top: 10px;
}

.count-number {
  font-family: "Lexend Deca", sans-serif;
  font-size: 24px;
}

.tool-button {
  font-family: "Lexend Deca", sans-serif;
  font-size: 18px;
  color: var(--black);
  border-radius: 8px;
  border-style: none;
  background-color: var(--quizcraft-orange);
  width: max-content;
  height: max-content;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 6px;
  padding: 16px 24px 16px 24px;
  transition: all 0.3s ease;
}

.tool-button:hover {
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
  -webkit-transition: background-color 500ms ease;
  -ms-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
}

.tool-button:active {
  background-color: var(--quizcraft-bg-dark);
}

.grayed {
  filter: grayscale(100%);
  background-color: dimgray;
}

/* bootstrap element  */
.card {
  background: none;
  border: none;
}

/* wowowoowow */
.tooltip-wrapper {
  display: inline-block;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.tooltip-wrapper .tool-tip {
  background-color: var(--quizcraft-light);
  padding: 16px;
  width: 240px;
  z-index: 1;
  border-radius: 0.5rem;
  box-shadow: 0px 10px 20px;
  position: absolute;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}

.tooltip-wrapper:hover .tool-tip {
  visibility: visible;
  opacity: 1;
  transition: opacity 600ms ease-out;
}

#input-quiz-title {
  background: none;
  border: none;
  width: 90%;
  margin-right: 10px;
  font-size: 34px;
}

#input-quiz-title:hover {
  border-bottom: 2px solid var(--blue-grade2);
}

#input-quiz-title:active,
#input-quiz-title:focus {
  border-bottom: 2px solid var(--blue-grade3);
}

#input-quiz-title::placeholder{
  font-weight: 600;
  color: var(--placeholder);
}

.input-quiz-desc {
  background: none;
  border: none;
  width: 70%;
  margin-bottom: 5vh;
}

.input-quiz-desc::placeholder{
  color: var(--placeholder);
}

.input-quiz-desc:hover {
  border-bottom: 2px solid var(--blue-grade2);
}

.input-quiz-desc:active,
.input-quiz-desc:focus {
  border-bottom: 2px solid var(--blue-grade3);
}

input:focus,
select:focus,
button:focus {
  outline: none;
}

.input-question-title {
  background: none;
  border: none;
  width: 100%;
  margin-right: 10px;
}

.input-question-title:hover {
  border-bottom: 2px solid var(--blue-grade2);
}

.input-question-title:active,
.input-question-title:focus {
  border-bottom: 2px solid var(--blue-grade3);
}

.option-name {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.option-dropdown {
  font-family: "Lexend Deca", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: var(--quizcraft-darker-purple);
  background: none;
  border: none;
  width: 10em;
}

.option-section {
  margin: 2px;
}

.option-label {
  font-family: "Lexend Deca", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: var(--quizcraft-darker-purple);
  background: none;
  border: none;
  margin-top: 8px;
}
.option-input {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background: none;
  letter-spacing: 0.03em;
  border: none;
  border-bottom: 2px solid var(--blue-grade2);
  width: calc(44vw);
  margin-left: 1em;
  margin-right: 1em;
  padding-top: 0.5em;
}

.option-input:hover,
.option-input:active,
.option-input:focus {
  border-bottom: 2px solid var(--blue-grade3);
}

.remove-button {
  width: 7vw;
  /* min-width: max-content; */
  height: max-content;
  background-color: var(--quizcraft-light-red);
  border: none;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  color: var(--black);
  border-radius: 6px;
  margin-top: 10px;
  margin-left: 20px;
  transition: all 0.3s ease;
}
.remove-button:hover {
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
.remove-button:active {
  background-color: darkred;
}

.add-button {
  width: 7vw;
  height: max-content;
  background-color: var(--quizcraft-light-green);
  border: none;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  color: var(--quizcraft-light);
  border-radius: 6px;
  margin-top: 10px;
  margin-left: 20px;
  transition: all 0.3s ease;
}

.add-button:hover {
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);

}

.remove-option-button {
  width: max-content;
  height: max-content;
  background: none;
  border: none;
  margin-top: 0.8em;
  transition: all 0.3s ease;
}

.remove-option-button:hover {
  transform: scale(1.2);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
.remove-option-button:active {
  transform: scale(1);
  filter: invert();
}

.select-answer-dropdown {
  width: 8em;
  height: max-content;
  background-color: var(--quizcraft-deep-purple);
  border: none;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  color: var(--quizcraft-light);
  border-radius: 6px;
  margin-top: 10px;
  margin-left: 20px;
}

.curated-quiz-section {
  width: 80.8vw;
  height: fit-content;
}

table {
  counter-reset: tableCount;
}

.counterCell:before {
  content: counter(tableCount);
  counter-increment: tableCount;
}

.quiz-code-input {
  font-family: "Lexend Deca", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: var(--quizcraft-light);
  border-radius: 4px;
  border-style: 0.5px black;
  background-color: var(--blue-grade2);
  width: 28vw;
  height: max-content;
  margin: 10px 10px 30px 6px;
  padding: 16px 24px 16px 24px;
}

.wide-column {
  width: 200px; 
}


#dashboard-container-fluid{
  background-color: var(--blue-grade2);
  height: fit-content;
  margin-top: 40px;
  border-radius: 22px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-self: center;
  row-gap: 12vh;
  padding-top: 6vh;
  padding-left: 3.5vw;
  margin-left: 6.5vw;
  margin-right: 6.5vw;
  overflow-x: hidden;
}

.dashboard-container-fluid1{
  display: flex;
  flex-direction: row;
  column-gap: 6vw;
}

.dashboard-container-fluid2{
  display: flex;
  flex-direction: row;
  width: 90vw;
  height: fit-content;
}

.dashboard-profile{
  width: 40vw;
  background-color: var(--container-backgrounds);
  border-radius: 22px;
  padding: 2vh 2vw;
}

.dashboard-quizzer-tools{
  width: 30vw;
  background-color: var(--container-backgrounds);
  border-radius: 22px;
  padding: 2vh 2vw;
}

.login-container-fluid{
  margin-top: 12vh;
  background-color: var(--blue-grade2);
  width: 45vw;
  height: 50vh;
  padding: 4vh 4vw 4vh 4vw;
  border-radius: 8px;
}

.login-text-login{
  margin-bottom: 5vh;
}

.login-form-container{
  width: 35vw;
}

.login-input-fields{
  margin-bottom: 2vh;
}

.login-page-buttons-cont{
  display: flex;
  flex-direction: row;
}

.container-fluid-registration{
  margin-top: 12vh;
  background-color: var(--blue-grade2);
  width: 45vw;
  height: 60vh;
  padding: 4vh 4vw 4vh 4vw;
  border-radius: 8px;
}

.registration-form{
  margin-top: 5vh;
}

.registration-form-placeholders{
  margin-bottom: 2vh;
}

.registration-form-register-button{
  background-color: var(--quizcraft-orange);
  margin-top: 3vh;
  width: 18vw;
  height: 5vh;
  margin-right: 1.4vw;
  transition: all 0.3s ease;
}

.registration-form-register-button:hover{
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.registration-form-button-cont{
  display: flex;
  flex-direction: row;
}

.already-registered{
  display: flex;
  margin-top: 3vh;
  background-color: var(--quizcraft-light-blue);
  height: 5vh;
  width: 18vw;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.already-registered:hover{
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.go-to-login-reg-done{
  background-color: var(--quizcraft-light-blue);
  height: 4vh;
  width: 6vw;
}

#add-question-button{
  background-color: var(--quizcraft-light-blue);
  transition: all 0.3s ease;
}

#add-question-button:hover{
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

#reset-quiz-button{
  background-color: var(--quizcraft-light-blue);
  transition: all 0.3s ease;

}

#reset-quiz-button:hover{
  background-color: var(--quizcraft-light-red);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.input-question-title::placeholder{
  color: var(--placeholder);
}

#quiz-title-section{
  border: 20px black;
}

.quiz-creator-container{
  width: 65vw;
  display: flex;
  flex-direction: column;
  background-color: var(--blue-grade2);
  border-radius: 8px;
  margin-top: 4vh;
  padding: 4vh 2vw;
  max-height: max-content;
  min-height: max-content;
}

.quiz-creator-button-container{
  display: flex;
  flex-direction: row;
  padding-left: 10vw;
  column-gap: 4vw;
  margin-top: 1vh;
}

.question-container{
  display: flex;
  flex-direction: row;
}

.super-quiz-container{
  display: flex;
  flex-direction: column;
}
.super-quiz-container::after {
  content: '';
  display: inline-block;
  justify-self: center;
  align-self: center;
  width: 60%;
  height: 1px;
  background: radial-gradient(circle, rgba(47, 102, 149, 0.5), transparent);
  filter: blur(1px);
  margin-top: 1vh;
  margin-bottom: 2.5vh;
}

.question-changes-container{
  display: flex;
  flex-direction: column;
}

.select-answer-container{
  display: flex;
  flex-direction: row;
}

.question-and-select-answer-container{
  width: 54vw;
  display: flex;
  flex-direction: column;
}

.option-dropdown{
  width: max-content;
  color: black;
}

.option-dropdown::placeholder{
  color: var(--placeholder);
}

#no-quiz-found{
  color: rgb(164, 22, 22);
  background-color: rgb(248, 202, 202);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 4vh;
  margin-left: 8vw;
  margin-right: 8vw;
  border-radius: 8px;
}

#enter-quiz-code{
  font-size: 28px;
}

.quiz-fetcher-container{
  background-color: var(--blue-grade2);
  width: 50%;
  min-height: max-content;
  margin: auto;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  text-align: center;
  align-items: center;
  padding: 1%;
}

.quiz-fetcher-search-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3vh;
  min-height: max-content;
}

.fetched-quizzes-list-container{
  display: flex;
  flex-direction: column;
  min-height: max-content;
}

.small-container{
  display: flex;
  flex-direction: row;
}

#take-quiz-container{
  background-color: var(--blue-grade2);
  padding: 0.5%;
  width: 70vw;
  border-radius: 22px;
  margin-top: 2vh;
  margin-bottom: 6vh;
}

#take-quiz-title{
  font-size: 38px;
  margin-left: 5vw;
  margin-top: 5vh;
}

#take-quiz-description{
  font-size: 18px;
  margin-left: 5vw;
}

#quiz-question-option{
  text-decoration: none;
  border: none;
}

.quiz-question-container{
  margin-left: 5vw;
  margin-bottom: 1.5vh;
}

.seperator{
  background-color: var(--blue-grade6);
  border-radius: 90px;
}

#give-quiz-option{
  color: var(--black);
}

#quiz-submit-go-to-dash{
  display: flex;
  flex-direction: row;
  color: var(--black);
  background-color: var(--quizcraft-orange);
  font-family: "Lexend Deca", sans-serif;
  padding: 0.5vh 0.5vw;
  width: 9vw;
  height: min-content;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-top: 4vh;
  transition: all 0.3s ease;
}

#quiz-submit-go-to-dash:hover{
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.quiz-done-page-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--blue-grade2);
  margin-top: 10vh;
  margin-left: 30vw;
  border-radius: 22px;
  width: 40vw;
  padding: 4vh 4vw;
}

.solved-question-container{
  display: flex;
  flex-direction: row;
}

.color-change-th{
  color:#0c5d6f;
}

.curated-row-colour-changer{
  color: #0c5d6f;
}